{% extends 'pages/layouts/header.html' %}


{% block content %}
<section class="container-section">
    <div class="rgisterdiv">
        <form action="" class="registerform" method="post">
            {{ newuser.csrf_token }}
            {% with messages=get_flashed_messages() %}
            
            {% if messages %}
                
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
                    
            {% endif %}
            {% endwith %}
         
            {{ newuser.email.label }}
            {{ newuser.email }}
            {{ newuser.password.label }}
            {{ newuser.password }}
            {{ newuser.submit }}
        </form>
    </div>
    </section>
{% endblock  %}