 <!-- footer -->
 <section class="footer">
    <footer>
        <div class="useful-links">
            <ul class="footerul">
                <h6>Customer Service</h6>
                <li><a href="">Help Center</a></li>
                <li><a href="">Transaction Service</a></li>
                <li><a href="">Agreement for non.</a></li>
                <li><a href="">Nigeria/Ghana Consumers</a></li>
                <li><a href="">Terms and conditions</a></li>
                <li><a href="">Take our feedback Survey</a></li>
            </ul>
            <ul class="footerul">
                <h6>Shopping with us</h6>
                <li><a href="">Making payment</a></li>
                <li><a href="">Delivery options</a></li>
                <li><a href="">Buyer protection</a></li>
            </ul>
            <ul class="footerul">
                <h6>Collaborate with us</h6>
                <li><a href="">Affilate program</a></li>
                <li><a href="">Ds cnter</a></li>
                <li><a href="">Seller log in</a></li>
                <li><a href="">Non-African</a></li>
                <li><a href="">Registration</a></li>
            </ul>
            <ul class="footerul">
                <h6>Stay connected</h6>
               <div class="social-media-footer">
                <li><a href=""><i class="fa-brands fa-facebook"></i></a></li>
                <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href=""><i class="fa-brands fa-youtube"></i></a></li>
                <li><a href=""><i class="fa-brands fa-x-twitter"></i></a></li>
               </div>
              
            </ul>
        </div>
        <p>@Chika Nwazuo God</p>
    </footer>
</section>

<!-- the end of footer -->