<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AliExpress</title>
    <script src="https://kit.fontawesome.com/0560d0caf7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mediaquery.css') }}">
    <script defer src="{{ url_for('static', filename='js/myjs.js') }}"></script>
</head>
<body>
    <!-- header top -->
   {% block content %}{% endblock  %}
</body>
</html>