<section class="searcnbar-seaction">
    <ul class="searchbarul">
        <li class="logo">
            <a href="">
                PJ 1 BATTERIES
            </a>
        </li>
        <div class="searchbardiv">
            <form action="" class="searchbar-form">
                <input type="text" placeholder="I'm shipping for">
                <button><i class="fa-solid fa-magnifying-glass searchicon"></i></button>
            </form>
           
        </div>
        <button onclick="opensearchform()" class="open-searchformbtn"><i class="fa-solid fa-magnifying-glass open--icon"></i></button>
        <li class="shopping-cart-li"><a href="{{ url_for('cartpage.viewvart') }}"><i class="fa-solid fa-cart-shopping shopping-icon"></i>
            <span class="count-span">{{cart_count}}</span>
        </a>
       
        </li>
        <li class="qrcode"><a href="">
            <img src="{{ url_for('static', filename='img/qrlcode.webp') }}" alt="">
        </a></li>
    </ul>
   <div onclick="closeform()" class="closeform-div">
    <button class="close-form-btn"><i class="fa-solid fa-xmark"></i></button>
   </div>
</section>